In [192]:
from pathlib import Path
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.functions import lit,to_timestamp, coalesce, col, date_format, when
from functools import reduce
import csv

spark = SparkSession.builder.getOrCreate()

In [5]:
from pathlib import Path

# Define la ruta base
base_path = Path("/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS")

# Lista 1: Archivos .csv que contienen "AQ_SEP" en su nombre
lista_aq_sep = [archivo for archivo in base_path.rglob("*.csv") if "AQ_SEP" in archivo.name]

# Lista 2: Archivos .csv que contienen "AirQualityUnit01" en su nombre
lista_airqualityunit01 = [archivo for archivo in base_path.rglob("*.csv") if "AirQualityUnit01" in archivo.name]

# Lista 3: Archivos .csv que contienen "AirQualityUnit02" en su nombre
lista_airqualityunit02 = [archivo for archivo in base_path.rglob("*.csv") if "AirQualityUnit02" in archivo.name]

In [11]:
# Imprimir las listas archivos AQ_SEP
print("Archivos con 'AQ_SEP':")
for archivo in lista_aq_sep:
    print(archivo)

Archivos con 'AQ_SEP':
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Abril 2024/6etmrenvironmentobserved - AQ_SEP-data-2024-04-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Junio 2024/6etmrenvironmentobserved - AQ_SEP, activa desde el 1ero de mayo-data-2024-06-14.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Agosto 2024/6etmrenvironmentobserved - AQ_SEP, activa desde el 1ero de mayo-data-2024-08-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Febrero 2024/6etmrenvironmentobserved - AQ_SEP-data-2024-02-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Diciembre 2023/6etmrenvironmentobserved - AQ_SEP-data-2023-12-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Marzo 2024/6etmrenvironmentobserved - AQ_SEP-data-2024-03-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Noviembre 2023/6etmrenvironmentobserved - AQ_SEP-data-2023-11-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Octubre 2023/6etmrenvironmentobserved - AQ_SEP-data-2023-10-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Enero 2024/6etmrenvironmentobserved - AQ_SEP-data-2024-01-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Agosto 2023/6-etmrenvironmentobserved - AQ_SEP-data-2023-08-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Septiembre 2023/6etmrenvironmentobserved - AQ_SEP-data-2023-09-14.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Mayo 2024/6etmrenvironmentobserved - AQ_SEP-data-2024-05-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Julio 2023/6-etmrenvironmentobserved-AQ_SEP-01.csv

In [6]:
# Imprimir las listas archivos AirQualityUnit01
print("\nArchivos con 'AirQualityUnit01':")
for archivo in lista_airqualityunit01:
    print(archivo)

Archivos con 'AirQualityUnit01':
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Abril 2024/7etmrairqualityobserved - AirQualityUnit01-data-2024-04-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Junio 2024/7etmrairqualityobserved - AirQualityUnit01-data-2024-06-14.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Julio 2024/7etmrairqualityobserved - AirQualityUnit01-data-2024-07-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Agosto 2024/7etmrairqualityobserved - AirQualityUnit01-data-2024-08-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Febrero 2024/7etmrairqualityobserved - AirQualityUnit01-data-2024-02-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Diciembre 2023/7etmrairqualityobserved - AirQualityUnit01-data-2023-12-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Marzo 2024/7etmrairqualityobserved - AirQualityUnit01-data-2024-03-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Noviembre 2023/7etmrairqualityobserved - AirQualityUnit01-data-2023-11-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Octubre 2023/7etmrairqualityobserved - AirQualityUnit01-data-2023-10-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Enero 2024/7etmrairqualityobserved - AirQualityUnit01-data-2024-01-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Agosto 2023/7-etmrairqualityobserved - AirQualityUnit01-data-2023-08-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Septiembre 2023/7etmrairqualityobserved - AirQualityUnit01-data-2023-09-14.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Mayo 2024/7etmrairqualityobserved - AirQualityUnit01-data-2024-05-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Julio 2023/7-etmrairqualityobserved-AirQualityUnit01-01.csv

In [7]:
# Imprimir las listas archivos AirQualityUnit02
print("\nArchivos con 'AirQualityUnit02':")
for archivo in lista_airqualityunit02:
    print(archivo)

Archivos con 'AirQualityUnit02':
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Abril 2024/8etmrairqualityobserved - AirQualityUnit02-data-2024-04-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Junio 2024/8etmrairqualityobserved - AirQualityUnit02-data-2024-06-14.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Agosto 2024/8etmrairqualityobserved - AirQualityUnit02-data-2024-08-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Febrero 2024/8etmrairqualityobserved - AirQualityUnit02-data-2024-02-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Diciembre 2023/8etmrairqualityobserved - AirQualityUnit02-data-2023-12-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Marzo 2024/8etmrairqualityobserved - AirQualityUnit02-data-2024-03-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Noviembre 2023/8etmrairqualityobserved - AirQualityUnit02-data-2023-11-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Octubre 2023/8etmrairqualityobserved - AirQualityUnit02-data-2023-10-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Enero 2024/8etmrairqualityobserved - AirQualityUnit02-data-2024-01-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Agosto 2023/8-etmrairqualityobserved - AirQualityUnit02-data-2023-08-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Septiembre 2023/8etmrairqualityobserved - AirQualityUnit02-data-2023-09-14.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Mayo 2024/8etmrairqualityobserved - AirQualityUnit02-data-2024-05-15.csv
/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/datos/DATOS/Julio 2023/8-etmrairqualityobserved-AirQualityUnit02-01.csv

In [17]:
def detect_separator_simple(file_path, sample_size=1024):
    """
    Detecta el separador de un archivo CSV leyendo una muestra del archivo.

    Args:
        file_path (str): Ruta del archivo CSV.
        sample_size (int, optional): Número de bytes a leer para el análisis. Por defecto es 1024.

    Returns:
        str: El caracter delimitador detectado o None si no se pudo detectar.
    """
    try:
        with open(file_path, 'r', encoding='utf-8') as f:
            sample = f.read(sample_size)
        dialect = csv.Sniffer().sniff(sample)
        return dialect.delimiter
    except Exception as e:
        print(f"Error al detectar el separador: {e}")
        return None

In [33]:
def load_csv_correctly(path):
    # Leer el archivo como texto
    raw_df = spark.read.text(path)
    # Obtener la primera línea
    first_line = raw_df.first()[0]
    separator = detect_separator_simple(path)
    
    if first_line and isinstance(first_line, str) and first_line.startswith("sep="):
        # Omitir la primera línea usando zipWithIndex para mantener el orden
        lines_rdd = raw_df.rdd.zipWithIndex() \
                        .filter(lambda row_index: row_index[1] > 0) \
                        .map(lambda row_index: row_index[0][0])
        
        # Leer el CSV a partir del RDD de líneas
        df = spark.read.option("header", "true") \
                       .option("inferSchema", "true") \
                       .option("escape", '"') \
                       .option("quote", '"') \
                       .option("sep", separator) \
                       .csv(lines_rdd)
    else:
        # Leer el CSV normalmente desde la ruta
        df = spark.read.option("header", "true") \
                       .option("inferSchema", "true") \
                       .option("escape", '"') \
                       .option("quote", '"') \
                       .option("sep", separator) \
                       .csv(path)
    
    return df

In [53]:
DF_LIST_AQ_SEP = [load_csv_correctly(str(path)) for path in lista_aq_sep]
DF_LIST_AQ_01 = [load_csv_correctly(str(path)) for path in lista_airqualityunit01]
DF_LIST_AQ_02 = [load_csv_correctly(str(path)) for path in lista_airqualityunit02]

In [54]:
DF_LIST_AQ_SEP[1].show()

+-------------------+---------+---------------+---------+----------+-----------+------------+---------------+------------------+
|               Time|co AQ_SEP|humidity AQ_SEP|o3 AQ_SEP|pm1 AQ_SEP|pm10 AQ_SEP|pm2_5 AQ_SEP|pressure AQ_SEP|temperature AQ_SEP|
+-------------------+---------+---------------+---------+----------+-----------+------------+---------------+------------------+
|2024-05-15 00:02:05|     10.1|           94.1|       -1|       0.2|        0.9|         0.8|          75332|              13.6|
|2024-05-15 00:17:05|      9.0|           95.3|       -1|       0.3|        0.4|         0.4|          75316|              13.6|
|2024-05-15 00:32:05|      9.7|           95.3|       -1|       0.3|        1.0|         0.9|          75297|              13.5|
|2024-05-15 00:47:06|      8.6|           95.0|       -1|       0.2|        0.2|         0.2|          75287|              13.5|
|2024-05-15 01:02:07|      7.5|           96.3|       -1|       0.1|        0.2|         0.2|          75280|              13.0|
|2024-05-15 01:17:08|      6.8|           95.5|       -1|       0.1|        0.1|         0.1|          75271|              13.0|
|2024-05-15 01:32:08|      6.0|           96.5|       -1|       0.2|        0.9|         0.7|          75283|              13.0|
|2024-05-15 01:47:08|      5.9|           95.5|       -1|       0.3|        0.4|         0.4|          75269|              13.2|
|2024-05-15 02:02:08|      5.9|           96.0|       -1|       0.1|        0.1|         0.1|          75244|              13.0|
|2024-05-15 02:17:09|      5.8|           95.3|       -1|       0.1|        0.2|         0.2|          75245|              12.9|
|2024-05-15 02:32:10|      5.7|           95.7|       -1|       0.2|        0.2|         0.2|          75254|              12.8|
|2024-05-15 02:47:10|      6.0|           93.3|       -1|       0.1|        0.1|         0.1|          75258|              13.1|
|2024-05-15 03:02:11|      6.1|           96.1|       -1|       0.2|        0.2|         0.2|          75253|              12.9|
|2024-05-15 03:17:12|      6.5|           96.6|       -1|       0.2|        0.2|         0.2|          75240|              12.8|
|2024-05-15 03:32:12|      6.7|           96.5|       -1|       0.1|        0.1|         0.1|          75217|              12.5|
|2024-05-15 03:47:12|      7.2|           97.6|       -1|       0.2|        0.3|         0.3|          75235|              12.2|
|2024-05-15 04:02:12|      6.8|           97.6|       -1|       0.1|        0.1|         0.1|          75248|              12.1|
|2024-05-15 04:17:13|      6.4|          100.0|       -1|       0.1|        0.3|         0.3|          75263|              12.0|
|2024-05-15 04:32:13|      6.9|           98.5|       -1|       0.2|        0.3|         0.3|          75266|              11.9|
|2024-05-15 04:47:13|      6.9|           95.6|       -1|       0.1|        0.1|         0.1|          75277|              12.0|
+-------------------+---------+---------------+---------+----------+-----------+------------+---------------+------------------+
only showing top 20 rows

In [72]:
DF_LIST_AQ_01[0].show()

+----------------+----------------+----+----+----+-----+------+----+-----------------+----+------------+
|            Time|       entity_id| co |co2 | o3 |pm10 |pm2_5 |pm5 |relativehumidity |so2 |temperature |
+----------------+----------------+----+----+----+-----+------+----+-----------------+----+------------+
|19/03/2024 22:08|AirQualityUnit01|-999|-999|-999| -999|  -999|-999|           -999.0|-999|      -998.0|
| 01/04/2024 9:33|AirQualityUnit01|-999|-999|-999| -999|  -999|-999|           -999.0|-999|      -999.0|
|08/04/2024 18:39|AirQualityUnit01|   2|1008|-999|   58|    44|  29|             60.3|-999|        20.3|
|08/04/2024 18:41|AirQualityUnit01|   3|1028|-999|   56|    46|  30|             60.3|-999|        20.3|
|08/04/2024 18:43|AirQualityUnit01|   4|1053|-999|   56|    46|  30|             60.3|-999|        20.3|
|08/04/2024 18:45|AirQualityUnit01|   5|1090|-999|   61|    46|  28|             60.4|-999|        20.3|
|08/04/2024 18:48|AirQualityUnit01|   6|1155|-999|   61|    45|  27|             60.5|-999|        20.3|
|08/04/2024 18:50|AirQualityUnit01|   7|1198|-999|   61|    45|  27|             60.6|-999|        20.3|
|08/04/2024 18:52|AirQualityUnit01|   8|1245|-999|   61|    46|  28|             60.7|-999|        20.4|
|08/04/2024 18:54|AirQualityUnit01|   9|1158|-999|   53|    44|  28|             60.7|-999|        20.4|
|08/04/2024 18:56|AirQualityUnit01|  10|1118|-999|   53|    44|  28|             60.7|-999|        20.4|
|08/04/2024 19:00|AirQualityUnit01|  12|1181|-999|   52|    43|  27|              0.0|-999|         0.0|
|08/04/2024 19:02|AirQualityUnit01|  13|1225|-999|   56|    40|  26|             60.8|-999|        20.5|
|08/04/2024 19:09|AirQualityUnit01|   3|1238|-999|   56|    41|  25|             60.9|-999|        20.5|
|08/04/2024 19:14|AirQualityUnit01|   5|1247|-999|   50|    41|  26|             60.9|-999|        20.5|
|08/04/2024 19:16|AirQualityUnit01|   6|1189|-999|   50|    41|  26|             60.8|-999|        20.5|
|08/04/2024 19:18|AirQualityUnit01|   7| 889|-999|   50|    41|  26|             60.2|-999|        20.5|
|08/04/2024 19:20|AirQualityUnit01|   8| 829|-999|   50|    41|  26|             59.6|-999|        20.5|
|08/04/2024 19:28|AirQualityUnit01|  12| 778|-999|   48|    33|  22|             58.8|-999|        20.4|
|08/04/2024 19:30|AirQualityUnit01|  13| 783|-999|   52|    37|  24|             58.6|-999|        20.4|
+----------------+----------------+----+----+----+-----+------+----+-----------------+----+------------+
only showing top 20 rows

In [73]:
# Función para limpiar los nombres de columnas
def clean_column_names(df):
    new_columns = [col.strip().replace(" ", "_").lower() for col in df.columns]
    return df.toDF(*new_columns)

In [74]:
DF_LIST_AQ_SEP = [clean_column_names(df) for df in DF_LIST_AQ_SEP]
DF_LIST_AQ_01 = [clean_column_names(df) for df in DF_LIST_AQ_01]
DF_LIST_AQ_02 = [clean_column_names(df) for df in DF_LIST_AQ_02]

In [122]:
for i, df in enumerate(DF_LIST_AQ_SEP):
    print(f"DataFrame DF_LIST_AQ_SEP {i} columns: {df.columns}")

DataFrame DF_LIST_AQ_SEP 0 columns: ['time', 'co_aq_sep', 'no2_aq_sep', 'o3_aq_sep', 'pm1_aq_sep', 'pm10_aq_sep', 'pm2_5_aq_sep', 'pressure_aq_sep', 'relativehumidity_aq_sep', 'temperature_aq_sep']
DataFrame DF_LIST_AQ_SEP 1 columns: ['time', 'co_aq_sep', 'humidity_aq_sep', 'o3_aq_sep', 'pm1_aq_sep', 'pm10_aq_sep', 'pm2_5_aq_sep', 'pressure_aq_sep', 'temperature_aq_sep']
DataFrame DF_LIST_AQ_SEP 2 columns: ['time', 'co_aq_sep', 'humidity_aq_sep', 'o3_aq_sep', 'pm1_aq_sep', 'pm10_aq_sep', 'pm2_5_aq_sep', 'pressure_aq_sep', 'temperature_aq_sep']
DataFrame DF_LIST_AQ_SEP 3 columns: ['time', 'co_aq_sep', 'no2_aq_sep', 'o3_aq_sep', 'pm1_aq_sep', 'pm10_aq_sep', 'pm2_5_aq_sep', 'pressure_aq_sep', 'relativehumidity_aq_sep', 'temperature_aq_sep']
DataFrame DF_LIST_AQ_SEP 4 columns: ['time', 'co_aq_sep', 'no2_aq_sep', 'o3_aq_sep', 'pm1_aq_sep', 'pm10_aq_sep', 'pm2_5_aq_sep', 'pressure_aq_sep', 'relativehumidity_aq_sep', 'temperature_aq_sep']
DataFrame DF_LIST_AQ_SEP 5 columns: ['time', 'co_aq_sep', 'no2_aq_sep', 'o3_aq_sep', 'pm1_aq_sep', 'pm10_aq_sep', 'pm2_5_aq_sep', 'pressure_aq_sep', 'relativehumidity_aq_sep', 'temperature_aq_sep']
DataFrame DF_LIST_AQ_SEP 6 columns: ['time', 'co_aq_sep', 'no2_aq_sep', 'o3_aq_sep', 'pm1_aq_sep', 'pm10_aq_sep', 'pm2_5_aq_sep', 'pressure_aq_sep', 'relativehumidity_aq_sep', 'temperature_aq_sep']
DataFrame DF_LIST_AQ_SEP 7 columns: ['time', 'co_aq_sep', 'no2_aq_sep', 'o3_aq_sep', 'pm1_aq_sep', 'pm10_aq_sep', 'pm2_5_aq_sep', 'pressure_aq_sep', 'relativehumidity_aq_sep', 'temperature_aq_sep']
DataFrame DF_LIST_AQ_SEP 8 columns: ['time', 'co_aq_sep', 'no2_aq_sep', 'o3_aq_sep', 'pm1_aq_sep', 'pm10_aq_sep', 'pm2_5_aq_sep', 'pressure_aq_sep', 'relativehumidity_aq_sep', 'temperature_aq_sep']
DataFrame DF_LIST_AQ_SEP 9 columns: ['time', 'address', 'battery', 'co', 'dateobserved', 'entity_id', 'entity_type', 'fiware_servicepath', 'location', 'location_centroid', 'no2', 'o3', 'pm1', 'pm10', 'pm2_5', 'pressure', 'relativehumidity', 'temperature', 'time_index']
DataFrame DF_LIST_AQ_SEP 10 columns: ['time', 'entity_id', 'co', 'no2', 'o3', 'pm1', 'pm10', 'pm2_5', 'pressure', 'relativehumidity', 'temperature']
DataFrame DF_LIST_AQ_SEP 11 columns: ['time', 'co_aq_sep', 'no2_aq_sep', 'o3_aq_sep', 'pm1_aq_sep', 'pm10_aq_sep', 'pm2_5_aq_sep', 'pressure_aq_sep', 'relativehumidity_aq_sep', 'temperature_aq_sep']
DataFrame DF_LIST_AQ_SEP 12 columns: ['time', 'address', 'battery', 'co', 'dateobserved', 'entity_id', 'entity_type', 'fiware_servicepath', 'location', 'location_centroid', 'no2', 'o3', 'pm1', 'pm10', 'pm2_5', 'pressure', 'relativehumidity', 'temperature', 'time_index']

In [123]:
for i, df in enumerate(DF_LIST_AQ_01):
    print(f"DataFrame DF_LIST_AQ_01 {i} columns: {df.columns}")

DataFrame DF_LIST_AQ_01 0 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_01 1 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_01 2 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_01 3 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_01 4 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_01 5 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_01 6 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_01 7 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_01 8 columns: ['time', 'co_airqualityunit01', 'co2_airqualityunit01', 'o3_airqualityunit01', 'pm10_airqualityunit01', 'pm2_5_airqualityunit01', 'pm5_airqualityunit01', 'relativehumidity_airqualityunit01', 'so2_airqualityunit01', 'temperature_airqualityunit01']
DataFrame DF_LIST_AQ_01 9 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_01 10 columns: ['time', 'address', 'co', 'co2', 'dateobserved', 'entity_id', 'entity_type', 'fiware_servicepath', 'latitude', 'location', 'location_centroid', 'longitude', 'no2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'source', 'temperature', 'time_index']
DataFrame DF_LIST_AQ_01 11 columns: ['time', 'entity_id', 'co2', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_01 12 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_01 13 columns: ['time', 'address', 'co', 'co2', 'dateobserved', 'entity_id', 'entity_type', 'fiware_servicepath', 'latitude', 'location', 'location_centroid', 'longitude', 'no2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'source', 'temperature', 'time_index']

In [121]:
for i, df in enumerate(DF_LIST_AQ_02):
    print(f"DataFrame DF_LIST_AQ_02 {i} columns: {df.columns}")

DataFrame DF_LIST_AQ_02 0 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_02 1 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_02 2 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_02 3 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_02 4 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_02 5 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_02 6 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_02 7 columns: ['time', 'co_airqualityunit02', 'co2_airqualityunit02', 'o3_airqualityunit02', 'pm10_airqualityunit02', 'pm2_5_airqualityunit02', 'pm5_airqualityunit02', 'relativehumidity_airqualityunit02', 'so2_airqualityunit02', 'temperature_airqualityunit02']
DataFrame DF_LIST_AQ_02 8 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_02 9 columns: ['time', 'address', 'co', 'co2', 'dateobserved', 'entity_id', 'entity_type', 'fiware_servicepath', 'latitude', 'location', 'location_centroid', 'longitude', 'no2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'source', 'temperature', 'time_index']
DataFrame DF_LIST_AQ_02 10 columns: ['time', 'entity_id', 'co', 'co2', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_02 11 columns: ['time', 'entity_id', 'co', 'co2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'temperature']
DataFrame DF_LIST_AQ_02 12 columns: ['time', 'address', 'co', 'co2', 'dateobserved', 'entity_id', 'entity_type', 'fiware_servicepath', 'latitude', 'location', 'location_centroid', 'longitude', 'no2', 'o3', 'pm10', 'pm2_5', 'pm5', 'relativehumidity', 'so2', 'source', 'temperature', 'time_index']

In [130]:
def standardize_df(df):
    # Lista de columnas deseadas en el orden y con los nombres estándar
    desired_order = ["time", "pm2_5", "pm10", "co", "o3", "humidity", "temperature"]
    new_columns = []
    
    # Para cada columna deseada, buscar en el DataFrame original la primera columna que contenga la palabra clave
    for keyword in desired_order:
        # Buscar candidates: columnas cuyo nombre (en minúscula) contenga la palabra clave
        candidates = [col for col in df.columns if keyword in col.lower()]
        if candidates:
            # Si existen varias, se toma la primera (podrías ajustar esto si necesitas otro criterio)
            new_columns.append(F.col(candidates[0]).alias(keyword))
        else:
            # Si no existe la columna, se agrega una columna con valores nulos
            new_columns.append(F.lit(None).alias(keyword))
    
    # Seleccionar y devolver el nuevo DataFrame con las columnas en el orden deseado
    return df.select(*new_columns)

In [155]:
DF_LIST_AQ_SEP_S = [standardize_df(df) for df in DF_LIST_AQ_SEP]
TOTAL_LIST_AQ_SEP_S = 0
for i, df in enumerate(DF_LIST_AQ_SEP_S):
    print(f"DataFrame DF_LIST_AQ_SEP_S {i} columns: {df.columns} count: {df.count()}")
    TOTAL_LIST_AQ_SEP_S += df.count()
print(f"Total de filas en todos los DataFrames: {TOTAL_LIST_AQ_SEP_S}")
DF_LIST_AQ_SEP_S[0].show()

DataFrame DF_LIST_AQ_SEP_S 0 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2927
DataFrame DF_LIST_AQ_SEP_S 1 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 1525
DataFrame DF_LIST_AQ_SEP_S 2 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 1591
DataFrame DF_LIST_AQ_SEP_S 3 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2866
DataFrame DF_LIST_AQ_SEP_S 4 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2765
DataFrame DF_LIST_AQ_SEP_S 5 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2657
DataFrame DF_LIST_AQ_SEP_S 6 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2959
DataFrame DF_LIST_AQ_SEP_S 7 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2859
DataFrame DF_LIST_AQ_SEP_S 8 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2800
DataFrame DF_LIST_AQ_SEP_S 9 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2766
DataFrame DF_LIST_AQ_SEP_S 10 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2824
DataFrame DF_LIST_AQ_SEP_S 11 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 1598
DataFrame DF_LIST_AQ_SEP_S 12 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2035
Total de filas en todos los DataFrames: 32172
+-------------------+-----+----+----+---+--------+-----------+
|               time|pm2_5|pm10|  co| o3|humidity|temperature|
+-------------------+-----+----+----+---+--------+-----------+
|2024-03-15 00:11:34|  0.5| 0.5|25.3|0.1|    -999|       11.5|
|2024-03-15 00:26:34|  0.7| 0.7|23.0|0.1|    -999|       11.6|
|2024-03-15 00:41:34|  0.7| 0.7|22.2|0.1|    -999|       11.2|
|2024-03-15 00:56:34|  0.6| 0.6|20.4|0.1|    -999|       11.1|
|2024-03-15 01:11:34|  0.6| 0.6|19.6|0.1|    -999|       10.6|
|2024-03-15 01:26:34|  0.5| 0.5|19.2|0.1|    -999|       10.6|
|2024-03-15 01:41:34|  0.7| 0.7|19.5|0.1|    -999|       10.4|
|2024-03-15 01:56:34|  0.6| 0.6|21.2|0.1|    -999|       10.5|
|2024-03-15 02:11:34|  0.5| 0.5|20.3|0.1|    -999|       10.1|
|2024-03-15 02:26:34|  0.6| 0.6|19.2|0.1|    -999|        9.9|
|2024-03-15 02:41:34|  0.5| 0.5|19.7|0.1|    -999|        9.7|
|2024-03-15 02:56:34|  0.4| 0.4|17.7|0.1|    -999|        9.1|
|2024-03-15 03:11:34|  0.6| 0.6|17.0|0.1|    -999|        9.1|
|2024-03-15 03:26:34|  0.5| 0.5|19.8|0.1|    -999|        9.2|
|2024-03-15 03:41:34|  0.5| 0.5|20.1|0.1|    -999|        9.0|
|2024-03-15 03:56:34|  0.5| 0.5|22.5|0.1|    -999|        8.9|
|2024-03-15 04:11:34|  0.6| 0.6|21.0|0.0|    -999|        8.7|
|2024-03-15 04:26:34|  0.6| 0.6|21.0|0.1|    -999|        8.5|
|2024-03-15 04:41:34|  0.5| 0.5|22.0|0.1|    -999|        8.6|
|2024-03-15 04:56:34|  0.9| 1.1|21.7|0.1|    -999|        8.4|
+-------------------+-----+----+----+---+--------+-----------+
only showing top 20 rows

In [156]:
DF_LIST_AQ_01_S = [standardize_df(df) for df in DF_LIST_AQ_01]
TOTAL_LIST_AQ_01_S = 0
for i, df in enumerate(DF_LIST_AQ_01_S):
    print(f"DataFrame DF_LIST_AQ_01_S {i} columns: {df.columns} count: {df.count()}")
    TOTAL_LIST_AQ_01_S += df.count()
print(f"Total de filas en todos los DataFrames: {TOTAL_LIST_AQ_01_S}")
DF_LIST_AQ_01_S[0].show()

DataFrame DF_LIST_AQ_01_S 0 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2841
DataFrame DF_LIST_AQ_01_S 1 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 12962
DataFrame DF_LIST_AQ_01_S 2 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 14216
DataFrame DF_LIST_AQ_01_S 3 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 14879
DataFrame DF_LIST_AQ_01_S 4 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 14376
DataFrame DF_LIST_AQ_01_S 5 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 14168
DataFrame DF_LIST_AQ_01_S 6 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 13346
DataFrame DF_LIST_AQ_01_S 7 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 15215
DataFrame DF_LIST_AQ_01_S 8 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 14458
DataFrame DF_LIST_AQ_01_S 9 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 13936
DataFrame DF_LIST_AQ_01_S 10 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 13489
DataFrame DF_LIST_AQ_01_S 11 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 13678
DataFrame DF_LIST_AQ_01_S 12 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 14640
DataFrame DF_LIST_AQ_01_S 13 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 9709
Total de filas en todos los DataFrames: 181913
+----------------+-----+----+----+----+--------+-----------+
|            time|pm2_5|pm10|  co|  o3|humidity|temperature|
+----------------+-----+----+----+----+--------+-----------+
|19/03/2024 22:08| -999|-999|-999|-999|  -999.0|     -998.0|
| 01/04/2024 9:33| -999|-999|-999|-999|  -999.0|     -999.0|
|08/04/2024 18:39|   44|  58|   2|-999|    60.3|       20.3|
|08/04/2024 18:41|   46|  56|   3|-999|    60.3|       20.3|
|08/04/2024 18:43|   46|  56|   4|-999|    60.3|       20.3|
|08/04/2024 18:45|   46|  61|   5|-999|    60.4|       20.3|
|08/04/2024 18:48|   45|  61|   6|-999|    60.5|       20.3|
|08/04/2024 18:50|   45|  61|   7|-999|    60.6|       20.3|
|08/04/2024 18:52|   46|  61|   8|-999|    60.7|       20.4|
|08/04/2024 18:54|   44|  53|   9|-999|    60.7|       20.4|
|08/04/2024 18:56|   44|  53|  10|-999|    60.7|       20.4|
|08/04/2024 19:00|   43|  52|  12|-999|     0.0|        0.0|
|08/04/2024 19:02|   40|  56|  13|-999|    60.8|       20.5|
|08/04/2024 19:09|   41|  56|   3|-999|    60.9|       20.5|
|08/04/2024 19:14|   41|  50|   5|-999|    60.9|       20.5|
|08/04/2024 19:16|   41|  50|   6|-999|    60.8|       20.5|
|08/04/2024 19:18|   41|  50|   7|-999|    60.2|       20.5|
|08/04/2024 19:20|   41|  50|   8|-999|    59.6|       20.5|
|08/04/2024 19:28|   33|  48|  12|-999|    58.8|       20.4|
|08/04/2024 19:30|   37|  52|  13|-999|    58.6|       20.4|
+----------------+-----+----+----+----+--------+-----------+
only showing top 20 rows

In [157]:
DF_LIST_AQ_02_S = [standardize_df(df) for df in DF_LIST_AQ_02]
TOTAL_LIST_AQ_02_S = 0
for i, df in enumerate(DF_LIST_AQ_02_S):
    print(f"DataFrame DF_LIST_AQ_02_S {i} columns: {df.columns} count: {df.count()}")
    TOTAL_LIST_AQ_02_S += df.count()
print(f"Total de filas en todos los DataFrames: {TOTAL_LIST_AQ_02_S}")
DF_LIST_AQ_02_S[0].show()

DataFrame DF_LIST_AQ_02_S 0 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 2803
DataFrame DF_LIST_AQ_02_S 1 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 6471
DataFrame DF_LIST_AQ_02_S 2 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 3564
DataFrame DF_LIST_AQ_02_S 3 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 14385
DataFrame DF_LIST_AQ_02_S 4 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 13991
DataFrame DF_LIST_AQ_02_S 5 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 13471
DataFrame DF_LIST_AQ_02_S 6 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 14786
DataFrame DF_LIST_AQ_02_S 7 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 14245
DataFrame DF_LIST_AQ_02_S 8 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 14045
DataFrame DF_LIST_AQ_02_S 9 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 13449
DataFrame DF_LIST_AQ_02_S 10 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 13720
DataFrame DF_LIST_AQ_02_S 11 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 14627
DataFrame DF_LIST_AQ_02_S 12 columns: ['time', 'pm2_5', 'pm10', 'co', 'o3', 'humidity', 'temperature'] count: 8995
Total de filas en todos los DataFrames: 148552
+----------------+-----+----+----+----+--------+-----------+
|            time|pm2_5|pm10|  co|  o3|humidity|temperature|
+----------------+-----+----+----+----+--------+-----------+
|19/03/2024 22:09| -999|-999|-999|-999|  -999.0|     -998.0|
| 01/04/2024 9:33| -999|-999|-999|-999|  -999.0|     -999.0|
|08/04/2024 20:18|   39|  45|   1|-999|    78.0|       19.0|
|08/04/2024 20:20|   42|  54|   2|-999|    78.1|       19.3|
|08/04/2024 20:46|   40|  47|   1|-999|    72.0|       20.3|
|08/04/2024 20:48|   45|  59|   2|-999|    71.1|       20.4|
|08/04/2024 20:53|   44|  56|   4|-999|    69.5|       20.5|
|08/04/2024 20:55|   41|  51|   5|-999|    69.1|       20.5|
|08/04/2024 20:57|   41|  52|   6|-999|    68.7|       20.6|
|08/04/2024 20:59|   40|  52|   7|-999|    68.4|       20.6|
|08/04/2024 21:05|   38|  48|  10|-999|    67.7|       20.8|
|08/04/2024 21:07|   38|  51|  11|-999|    67.5|       20.8|
|08/04/2024 21:11|   39|  50|  13|-999|    67.3|       20.9|
|08/04/2024 21:16|   36|  46|  15|-999|    66.9|       21.1|
|08/04/2024 21:20|   38|  45|  17|-999|    66.5|       21.2|
|08/04/2024 21:24|   38|  49|  19|-999|    66.1|       21.3|
|08/04/2024 21:26|   34|  44|  20|-999|    66.0|       21.3|
|08/04/2024 21:28|   36|  48|  21|-999|    65.8|       21.4|
|08/04/2024 21:30|   33|  39|  22|-999|    65.6|       21.4|
|08/04/2024 21:32|   35|  43|  23|-999|    65.4|       21.4|
+----------------+-----+----+----+----+--------+-----------+
only showing top 20 rows

In [ ]:
# Combinar todos los DataFrames en uno solo - DF_LIST_AQ_SEP_S
DF_AQ_SEP = reduce(lambda df1, df2: df1.unionByName(df2), DF_LIST_AQ_SEP_S)
print(f"Total de filas en todos los DF_AQ_SEP: {DF_AQ_SEP.count()}")
DF_AQ_SEP.show()

Total de filas en todos los DF_AQ_SEP: 32172
+-------------------+-----+----+----+---+--------+-----------+
|               time|pm2_5|pm10|  co| o3|humidity|temperature|
+-------------------+-----+----+----+---+--------+-----------+
|2024-03-15 00:11:34|  0.5| 0.5|25.3|0.1|  -999.0|       11.5|
|2024-03-15 00:26:34|  0.7| 0.7|23.0|0.1|  -999.0|       11.6|
|2024-03-15 00:41:34|  0.7| 0.7|22.2|0.1|  -999.0|       11.2|
|2024-03-15 00:56:34|  0.6| 0.6|20.4|0.1|  -999.0|       11.1|
|2024-03-15 01:11:34|  0.6| 0.6|19.6|0.1|  -999.0|       10.6|
|2024-03-15 01:26:34|  0.5| 0.5|19.2|0.1|  -999.0|       10.6|
|2024-03-15 01:41:34|  0.7| 0.7|19.5|0.1|  -999.0|       10.4|
|2024-03-15 01:56:34|  0.6| 0.6|21.2|0.1|  -999.0|       10.5|
|2024-03-15 02:11:34|  0.5| 0.5|20.3|0.1|  -999.0|       10.1|
|2024-03-15 02:26:34|  0.6| 0.6|19.2|0.1|  -999.0|        9.9|
|2024-03-15 02:41:34|  0.5| 0.5|19.7|0.1|  -999.0|        9.7|
|2024-03-15 02:56:34|  0.4| 0.4|17.7|0.1|  -999.0|        9.1|
|2024-03-15 03:11:34|  0.6| 0.6|17.0|0.1|  -999.0|        9.1|
|2024-03-15 03:26:34|  0.5| 0.5|19.8|0.1|  -999.0|        9.2|
|2024-03-15 03:41:34|  0.5| 0.5|20.1|0.1|  -999.0|        9.0|
|2024-03-15 03:56:34|  0.5| 0.5|22.5|0.1|  -999.0|        8.9|
|2024-03-15 04:11:34|  0.6| 0.6|21.0|0.0|  -999.0|        8.7|
|2024-03-15 04:26:34|  0.6| 0.6|21.0|0.1|  -999.0|        8.5|
|2024-03-15 04:41:34|  0.5| 0.5|22.0|0.1|  -999.0|        8.6|
|2024-03-15 04:56:34|  0.9| 1.1|21.7|0.1|  -999.0|        8.4|
+-------------------+-----+----+----+---+--------+-----------+
only showing top 20 rows

In [161]:
# Combinar todos los DataFrames en uno solo - DF_LIST_AQ_01_S
DF_AQ_1 = reduce(lambda df1, df2: df1.unionByName(df2), DF_LIST_AQ_01_S)
print(f"Total de filas en todos los DF_AQ_1: {DF_AQ_1.count()}")
DF_AQ_1.show()

Total de filas en todos los DF_AQ_1: 181913
+----------------+-----+----+----+----+--------+-----------+
|            time|pm2_5|pm10|  co|  o3|humidity|temperature|
+----------------+-----+----+----+----+--------+-----------+
|19/03/2024 22:08| -999|-999|-999|-999|  -999.0|     -998.0|
| 01/04/2024 9:33| -999|-999|-999|-999|  -999.0|     -999.0|
|08/04/2024 18:39|   44|  58|   2|-999|    60.3|       20.3|
|08/04/2024 18:41|   46|  56|   3|-999|    60.3|       20.3|
|08/04/2024 18:43|   46|  56|   4|-999|    60.3|       20.3|
|08/04/2024 18:45|   46|  61|   5|-999|    60.4|       20.3|
|08/04/2024 18:48|   45|  61|   6|-999|    60.5|       20.3|
|08/04/2024 18:50|   45|  61|   7|-999|    60.6|       20.3|
|08/04/2024 18:52|   46|  61|   8|-999|    60.7|       20.4|
|08/04/2024 18:54|   44|  53|   9|-999|    60.7|       20.4|
|08/04/2024 18:56|   44|  53|  10|-999|    60.7|       20.4|
|08/04/2024 19:00|   43|  52|  12|-999|     0.0|        0.0|
|08/04/2024 19:02|   40|  56|  13|-999|    60.8|       20.5|
|08/04/2024 19:09|   41|  56|   3|-999|    60.9|       20.5|
|08/04/2024 19:14|   41|  50|   5|-999|    60.9|       20.5|
|08/04/2024 19:16|   41|  50|   6|-999|    60.8|       20.5|
|08/04/2024 19:18|   41|  50|   7|-999|    60.2|       20.5|
|08/04/2024 19:20|   41|  50|   8|-999|    59.6|       20.5|
|08/04/2024 19:28|   33|  48|  12|-999|    58.8|       20.4|
|08/04/2024 19:30|   37|  52|  13|-999|    58.6|       20.4|
+----------------+-----+----+----+----+--------+-----------+
only showing top 20 rows

In [162]:
# Combinar todos los DataFrames en uno solo - DF_LIST_AQ_02_S
DF_AQ_2 = reduce(lambda df1, df2: df1.unionByName(df2), DF_LIST_AQ_02_S)
print(f"Total de filas en todos los DF_AQ_2: {DF_AQ_2.count()}")
DF_AQ_2.show()

Total de filas en todos los DF_AQ_2: 148552
+----------------+-----+----+----+----+--------+-----------+
|            time|pm2_5|pm10|  co|  o3|humidity|temperature|
+----------------+-----+----+----+----+--------+-----------+
|19/03/2024 22:09| -999|-999|-999|-999|  -999.0|     -998.0|
| 01/04/2024 9:33| -999|-999|-999|-999|  -999.0|     -999.0|
|08/04/2024 20:18|   39|  45|   1|-999|    78.0|       19.0|
|08/04/2024 20:20|   42|  54|   2|-999|    78.1|       19.3|
|08/04/2024 20:46|   40|  47|   1|-999|    72.0|       20.3|
|08/04/2024 20:48|   45|  59|   2|-999|    71.1|       20.4|
|08/04/2024 20:53|   44|  56|   4|-999|    69.5|       20.5|
|08/04/2024 20:55|   41|  51|   5|-999|    69.1|       20.5|
|08/04/2024 20:57|   41|  52|   6|-999|    68.7|       20.6|
|08/04/2024 20:59|   40|  52|   7|-999|    68.4|       20.6|
|08/04/2024 21:05|   38|  48|  10|-999|    67.7|       20.8|
|08/04/2024 21:07|   38|  51|  11|-999|    67.5|       20.8|
|08/04/2024 21:11|   39|  50|  13|-999|    67.3|       20.9|
|08/04/2024 21:16|   36|  46|  15|-999|    66.9|       21.1|
|08/04/2024 21:20|   38|  45|  17|-999|    66.5|       21.2|
|08/04/2024 21:24|   38|  49|  19|-999|    66.1|       21.3|
|08/04/2024 21:26|   34|  44|  20|-999|    66.0|       21.3|
|08/04/2024 21:28|   36|  48|  21|-999|    65.8|       21.4|
|08/04/2024 21:30|   33|  39|  22|-999|    65.6|       21.4|
|08/04/2024 21:32|   35|  43|  23|-999|    65.4|       21.4|
+----------------+-----+----+----+----+--------+-----------+
only showing top 20 rows

In [165]:
# Crear una condición que sea True cuando todas las columnas sean null

CONDITION = reduce(lambda acc, col: acc & F.col(col).isNull(), DF_AQ_2.columns, F.lit(True))

# Filtrar y contar las filas que cumplen la condición
DF_AQ_SEP_ALL_NULL = DF_AQ_SEP.filter(CONDITION).count()
DF_AQ_1_ALL_NULL = DF_AQ_1.filter(CONDITION).count()
DF_AQ_2_ALL_NULL = DF_AQ_2.filter(CONDITION).count()


print(" DF_AQ_SEP -> Cantidad de filas completamente null:", DF_AQ_SEP_ALL_NULL)
print(" DF_AQ_1 -> Cantidad de filas completamente null:", DF_AQ_1_ALL_NULL)
print(" DF_AQ_2 -> Cantidad de filas completamente null:", DF_AQ_2_ALL_NULL)

 DF_AQ_SEP -> Cantidad de filas completamente null: 0
 DF_AQ_1 -> Cantidad de filas completamente null: 0
 DF_AQ_2 -> Cantidad de filas completamente null: 0

In [168]:
def standardize_time_column(df):
    """
    Procesa la columna 'time' de un DataFrame y crea una nueva columna 'time_format'
    con el formato 'yyyy-MM-dd HH:mm:ss'.
    
    Considera varios formatos de fecha/hora:
      - dd/MM/yyyy H:mm       (Ej: 19/03/2024 22:09 o 01/04/2024 9:33)
      - yyyy-MM-dd H:mm:ss     (Ej: 2024-03-15 00:11:34)
      - yyyy-MM-dd H:mm        (Ej: 2024-03-15 11:34)
    """
    # Intenta convertir la columna "time" usando los diferentes formatos
    df = df.withColumn(
        "time_ts",
        coalesce(
            to_timestamp(col("time"), "dd/MM/yyyy H:mm"),
            to_timestamp(col("time"), "yyyy-MM-dd H:mm:ss"),
            to_timestamp(col("time"), "yyyy-MM-dd H:mm")
        )
    )
    
    # Formatea el timestamp al formato deseado y crea la nueva columna "time_format"
    df = df.withColumn("time_format", date_format(col("time_ts"), "yyyy-MM-dd HH:mm:ss"))
    
    # Elimina la columna intermedia si ya no es necesaria
    df = df.drop("time_ts")
    
    return df

In [178]:
#se crea una funcion que estandariza las fechas y agrega una nueva columna
DF_AQ_SEP = standardize_time_column(DF_AQ_SEP)
DF_AQ_1   = standardize_time_column(DF_AQ_1)
DF_AQ_2   = standardize_time_column(DF_AQ_2)

In [179]:
DF_AQ_SEP.show()

+-------------------+-----+----+----+---+--------+-----------+-------------------+
|               time|pm2_5|pm10|  co| o3|humidity|temperature|        time_format|
+-------------------+-----+----+----+---+--------+-----------+-------------------+
|2024-03-15 00:11:34|  0.5| 0.5|25.3|0.1|  -999.0|       11.5|2024-03-15 00:11:34|
|2024-03-15 00:26:34|  0.7| 0.7|23.0|0.1|  -999.0|       11.6|2024-03-15 00:26:34|
|2024-03-15 00:41:34|  0.7| 0.7|22.2|0.1|  -999.0|       11.2|2024-03-15 00:41:34|
|2024-03-15 00:56:34|  0.6| 0.6|20.4|0.1|  -999.0|       11.1|2024-03-15 00:56:34|
|2024-03-15 01:11:34|  0.6| 0.6|19.6|0.1|  -999.0|       10.6|2024-03-15 01:11:34|
|2024-03-15 01:26:34|  0.5| 0.5|19.2|0.1|  -999.0|       10.6|2024-03-15 01:26:34|
|2024-03-15 01:41:34|  0.7| 0.7|19.5|0.1|  -999.0|       10.4|2024-03-15 01:41:34|
|2024-03-15 01:56:34|  0.6| 0.6|21.2|0.1|  -999.0|       10.5|2024-03-15 01:56:34|
|2024-03-15 02:11:34|  0.5| 0.5|20.3|0.1|  -999.0|       10.1|2024-03-15 02:11:34|
|2024-03-15 02:26:34|  0.6| 0.6|19.2|0.1|  -999.0|        9.9|2024-03-15 02:26:34|
|2024-03-15 02:41:34|  0.5| 0.5|19.7|0.1|  -999.0|        9.7|2024-03-15 02:41:34|
|2024-03-15 02:56:34|  0.4| 0.4|17.7|0.1|  -999.0|        9.1|2024-03-15 02:56:34|
|2024-03-15 03:11:34|  0.6| 0.6|17.0|0.1|  -999.0|        9.1|2024-03-15 03:11:34|
|2024-03-15 03:26:34|  0.5| 0.5|19.8|0.1|  -999.0|        9.2|2024-03-15 03:26:34|
|2024-03-15 03:41:34|  0.5| 0.5|20.1|0.1|  -999.0|        9.0|2024-03-15 03:41:34|
|2024-03-15 03:56:34|  0.5| 0.5|22.5|0.1|  -999.0|        8.9|2024-03-15 03:56:34|
|2024-03-15 04:11:34|  0.6| 0.6|21.0|0.0|  -999.0|        8.7|2024-03-15 04:11:34|
|2024-03-15 04:26:34|  0.6| 0.6|21.0|0.1|  -999.0|        8.5|2024-03-15 04:26:34|
|2024-03-15 04:41:34|  0.5| 0.5|22.0|0.1|  -999.0|        8.6|2024-03-15 04:41:34|
|2024-03-15 04:56:34|  0.9| 1.1|21.7|0.1|  -999.0|        8.4|2024-03-15 04:56:34|
+-------------------+-----+----+----+---+--------+-----------+-------------------+
only showing top 20 rows

In [180]:
DF_AQ_1.show()

+----------------+-----+----+----+----+--------+-----------+-------------------+
|            time|pm2_5|pm10|  co|  o3|humidity|temperature|        time_format|
+----------------+-----+----+----+----+--------+-----------+-------------------+
|19/03/2024 22:08| -999|-999|-999|-999|  -999.0|     -998.0|2024-03-19 22:08:00|
| 01/04/2024 9:33| -999|-999|-999|-999|  -999.0|     -999.0|2024-04-01 09:33:00|
|08/04/2024 18:39|   44|  58|   2|-999|    60.3|       20.3|2024-04-08 18:39:00|
|08/04/2024 18:41|   46|  56|   3|-999|    60.3|       20.3|2024-04-08 18:41:00|
|08/04/2024 18:43|   46|  56|   4|-999|    60.3|       20.3|2024-04-08 18:43:00|
|08/04/2024 18:45|   46|  61|   5|-999|    60.4|       20.3|2024-04-08 18:45:00|
|08/04/2024 18:48|   45|  61|   6|-999|    60.5|       20.3|2024-04-08 18:48:00|
|08/04/2024 18:50|   45|  61|   7|-999|    60.6|       20.3|2024-04-08 18:50:00|
|08/04/2024 18:52|   46|  61|   8|-999|    60.7|       20.4|2024-04-08 18:52:00|
|08/04/2024 18:54|   44|  53|   9|-999|    60.7|       20.4|2024-04-08 18:54:00|
|08/04/2024 18:56|   44|  53|  10|-999|    60.7|       20.4|2024-04-08 18:56:00|
|08/04/2024 19:00|   43|  52|  12|-999|     0.0|        0.0|2024-04-08 19:00:00|
|08/04/2024 19:02|   40|  56|  13|-999|    60.8|       20.5|2024-04-08 19:02:00|
|08/04/2024 19:09|   41|  56|   3|-999|    60.9|       20.5|2024-04-08 19:09:00|
|08/04/2024 19:14|   41|  50|   5|-999|    60.9|       20.5|2024-04-08 19:14:00|
|08/04/2024 19:16|   41|  50|   6|-999|    60.8|       20.5|2024-04-08 19:16:00|
|08/04/2024 19:18|   41|  50|   7|-999|    60.2|       20.5|2024-04-08 19:18:00|
|08/04/2024 19:20|   41|  50|   8|-999|    59.6|       20.5|2024-04-08 19:20:00|
|08/04/2024 19:28|   33|  48|  12|-999|    58.8|       20.4|2024-04-08 19:28:00|
|08/04/2024 19:30|   37|  52|  13|-999|    58.6|       20.4|2024-04-08 19:30:00|
+----------------+-----+----+----+----+--------+-----------+-------------------+
only showing top 20 rows

In [181]:
DF_AQ_2.show()

+----------------+-----+----+----+----+--------+-----------+-------------------+
|            time|pm2_5|pm10|  co|  o3|humidity|temperature|        time_format|
+----------------+-----+----+----+----+--------+-----------+-------------------+
|19/03/2024 22:09| -999|-999|-999|-999|  -999.0|     -998.0|2024-03-19 22:09:00|
| 01/04/2024 9:33| -999|-999|-999|-999|  -999.0|     -999.0|2024-04-01 09:33:00|
|08/04/2024 20:18|   39|  45|   1|-999|    78.0|       19.0|2024-04-08 20:18:00|
|08/04/2024 20:20|   42|  54|   2|-999|    78.1|       19.3|2024-04-08 20:20:00|
|08/04/2024 20:46|   40|  47|   1|-999|    72.0|       20.3|2024-04-08 20:46:00|
|08/04/2024 20:48|   45|  59|   2|-999|    71.1|       20.4|2024-04-08 20:48:00|
|08/04/2024 20:53|   44|  56|   4|-999|    69.5|       20.5|2024-04-08 20:53:00|
|08/04/2024 20:55|   41|  51|   5|-999|    69.1|       20.5|2024-04-08 20:55:00|
|08/04/2024 20:57|   41|  52|   6|-999|    68.7|       20.6|2024-04-08 20:57:00|
|08/04/2024 20:59|   40|  52|   7|-999|    68.4|       20.6|2024-04-08 20:59:00|
|08/04/2024 21:05|   38|  48|  10|-999|    67.7|       20.8|2024-04-08 21:05:00|
|08/04/2024 21:07|   38|  51|  11|-999|    67.5|       20.8|2024-04-08 21:07:00|
|08/04/2024 21:11|   39|  50|  13|-999|    67.3|       20.9|2024-04-08 21:11:00|
|08/04/2024 21:16|   36|  46|  15|-999|    66.9|       21.1|2024-04-08 21:16:00|
|08/04/2024 21:20|   38|  45|  17|-999|    66.5|       21.2|2024-04-08 21:20:00|
|08/04/2024 21:24|   38|  49|  19|-999|    66.1|       21.3|2024-04-08 21:24:00|
|08/04/2024 21:26|   34|  44|  20|-999|    66.0|       21.3|2024-04-08 21:26:00|
|08/04/2024 21:28|   36|  48|  21|-999|    65.8|       21.4|2024-04-08 21:28:00|
|08/04/2024 21:30|   33|  39|  22|-999|    65.6|       21.4|2024-04-08 21:30:00|
|08/04/2024 21:32|   35|  43|  23|-999|    65.4|       21.4|2024-04-08 21:32:00|
+----------------+-----+----+----+----+--------+-----------+-------------------+
only showing top 20 rows

In [184]:
# Filtrar las filas donde time_format es null
df_null_time = DF_AQ_SEP.filter(col("time_format").isNull())
# Mostrar las filas filtradas
df_null_time.show()
# Opcional: contar el número de filas con time_format null
null_count = DF_AQ_SEP.filter(col("time_format").isNull()).count()
print("DF_AQ_SEP - Número de filas con time_format null:", null_count)

+----+-----+----+---+---+--------+-----------+-----------+
|time|pm2_5|pm10| co| o3|humidity|temperature|time_format|
+----+-----+----+---+---+--------+-----------+-----------+
+----+-----+----+---+---+--------+-----------+-----------+

DF_AQ_SEP - Número de filas con time_format null: 0

In [185]:
# Filtrar las filas donde time_format es null
df_null_time = DF_AQ_1.filter(col("time_format").isNull())
# Mostrar las filas filtradas
df_null_time.show()
# Opcional: contar el número de filas con time_format null
null_count = DF_AQ_1.filter(col("time_format").isNull()).count()
print("DF_AQ_1 - Número de filas con time_format null:", null_count)

+----+-----+----+---+---+--------+-----------+-----------+
|time|pm2_5|pm10| co| o3|humidity|temperature|time_format|
+----+-----+----+---+---+--------+-----------+-----------+
+----+-----+----+---+---+--------+-----------+-----------+

DF_AQ_1 - Número de filas con time_format null: 0

In [186]:
# Filtrar las filas donde time_format es null
df_null_time = DF_AQ_2.filter(col("time_format").isNull())
# Mostrar las filas filtradas
df_null_time.show()
# Opcional: contar el número de filas con time_format null
null_count = DF_AQ_2.filter(col("time_format").isNull()).count()
print("DF_AQ_2 - Número de filas con time_format null:", null_count)

+----+-----+----+---+---+--------+-----------+-----------+
|time|pm2_5|pm10| co| o3|humidity|temperature|time_format|
+----+-----+----+---+---+--------+-----------+-----------+
+----+-----+----+---+---+--------+-----------+-----------+

DF_AQ_2 - Número de filas con time_format null: 0

In [ ]:
#despues de verificar que la columna time_format no tiene valores nulos se procede a eliminar la columna time
DF_AQ_SEP = DF_AQ_SEP.drop("time")
DF_AQ_1 = DF_AQ_1.drop("time")
DF_AQ_2 = DF_AQ_2.drop("time")

In [191]:
# Exportar DF_AQ_SEP a CSV en la ruta especificada
DF_AQ_SEP.write.mode("overwrite").option("header", "true").csv("/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/export/DF_AQ_SEP.csv")

# Exportar DF_AQ_1 a CSV
DF_AQ_1.write.mode("overwrite").option("header", "true").csv("/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/export/DF_AQ_1.csv")

# Exportar DF_AQ_2 a CSV
DF_AQ_2.write.mode("overwrite").option("header", "true").csv("/home/steven-laptop/Documentos/Estudio/Proyecto QAIR/export/DF_AQ_2.csv")

In [ ]:
DF_AQ_SEP = DF_AQ_SEP.withColumn("pm2_5",
    when(col("pm2_5") <= -990, None).otherwise(col("pm2_5"))
)
DF_AQ_SEP = DF_AQ_SEP.withColumn("pm10",
    when(col("pm10") <= -990, None).otherwise(col("pm10"))
)
DF_AQ_SEP = DF_AQ_SEP.withColumn("co",
    when(col("co") <= -990, None).otherwise(col("co"))
)
DF_AQ_SEP = DF_AQ_SEP.withColumn("o3",
    when(col("o3") <= -990, None).otherwise(col("o3"))
)
DF_AQ_SEP = DF_AQ_SEP.withColumn("humidity",
    when(col("humidity") <= -990, None).otherwise(col("humidity"))
)
DF_AQ_SEP = DF_AQ_SEP.withColumn("temperature",
    when(col("temperature") <= -990, None).otherwise(col("temperature"))
)